<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.mapper">

    <select id ="login" resultType="kr.co.namu.admin.AdminMemberVO">
        SELECT * FROM admin_member WHERE a_m_id=#{a_m_id} AND a_m_pw=#{a_m_pw}

    </select>

    <select id="listforpassword" resultType="int">

        SELECT a_m_no FROM admin_member WHERE a_m_id = #{a_m_id} AND a_m_name = #{a_m_name} AND a_m_mail = #{a_m_mail}

    </select>

    <update id="updatepassword">
         UPDATE admin_member SET a_m_pw = #{a_m_pw} WHERE a_m_no = #{a_m_no}

    </update>

    <select id="id_check" resultType="integer">
        SELECT COUNT(*) FROM admin_member WHERE a_m_id=#{a_m_id}
    </select>

    <insert id="join" >
        INSERT INTO admin_member(a_m_approval, a_m_id, a_m_pw, a_m_name, a_m_gender, a_m_part, a_m_position, a_m_mail, a_m_phone)
        VALUES (<include refid="superadmin"/>, #{a_m_id},#{a_m_pw},#{a_m_name},#{a_m_gender},#{a_m_part},#{a_m_position},#{a_m_mail},#{a_m_phone})
    </insert>

    <sql id="superadmin">
        <if test="a_m_id == 'super admin'" >

            1
        </if>
        <if test="a_m_id != 'super admin'" >
            0
        </if>

    </sql>

    <resultMap id="myResultMap" type="kr.co.namu.admin.AdminMemberVO">
        <!-- 리스트 타입 반환 -->
    </resultMap>

    <select id="list" resultMap="myResultMap">
        SELECT * FROM admin_member WHERE a_m_id=#{a_m_id} and a_m_approval = 1
        <!-- 원래 로그인시 u_m_id와 u_m_pw를 함께 where로 요청하여야 하나, pw가 encoding 되어 있음에 따라,
              db의 pw과 vo의 pw는 다르므로, pw 비교는 DAO에서 encoder.match로 한다.
              그리고, resultMap 사용 없이 바로 resultType="kr.co.namu.admin.AdminMemberVO"로 진행해도 문제 없으며,
               user_member는 그렇게 적용함 -->
    </select>

    <select id="lists" resultMap="myResultMap">
        SELECT * FROM admin_member
    </select>

    <update id="listup">
        UPDATE admin_member SET a_m_approval = 1 WHERE a_m_no = #{a_m_no}
    </update>

    <update id="updateAll">
        UPDATE admin_member SET a_m_name =#{a_m_name}, a_m_gender=#{a_m_gender}, a_m_part=#{a_m_part},
                                a_m_position=#{a_m_position}, a_m_mail=#{ a_m_mail}, a_m_phone=#{a_m_phone}, a_m_mod_date =NOW() WHERE a_m_no = #{a_m_no}
    </update>

    <select id="listOne" resultMap="myResultMap">
        SELECT * FROM admin_member WHERE a_m_no = #{a_m_no}

    </select>

</mapper>

