<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exer.mapper">

    <insert id="start">
        INSERT INTO user_exercise(exer_id, exer_name, exer_wgt, exer_cnt, exer_set, exer_totalVolume, exer_status)
        VALUES (#{exer_id}, #{exer_name}, #{exer_wgt}, #{exer_cnt}, #{exer_set}, #{exer_totalVolume}, "start")
    </insert>

    <select id="exerList" resultType="kr.co.namu.book.ExerciseVO">
        select * from user_exercise WHERE exer_id = #{exer_id} and exer_status = "start"
    </select>

    <delete id="exerDeleteOne">
        delete from user_exercise WHERE exer_no = #{exer_no} AND exer_status = "start"
    </delete>

    <delete id="exerDeleteAll">
        delete from user_exercise WHERE exer_id = #{exer_id} AND exer_status = "start"
    </delete>

</mapper>

