<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="exer.mapper">

    <insert id="start">
        INSERT INTO user_exercise(exer_id, exer_name, exer_wgt, exer_set, exer_totalVolume, exer_status)
        VALUES (#{exer_id}, #{exer_name}, #{exer_wgt}, #{exer_set}, #{exer_totalVolume}, "start")
    </insert>

    <insert id="bodyExer">
        INSERT INTO user_exercise_b(exer_id_b, exer_name_b, exer_sec_b, exer_set_b, exer_totalTime_b, exer_status_b)
        VALUES (#{exer_id_b}, #{exer_name_b}, #{exer_sec_b}, #{exer_set_b}, #{exer_totalTime_b}, "start")
    </insert>

    <select id="exerList" resultType="kr.co.namu.book.ExerciseVO">
        select * from user_exercise WHERE exer_id = #{exer_id} and exer_status = "start"
    </select>

    <delete id="exerDeleteOne">
        delete from user_exercise WHERE exer_no = #{exer_no} AND exer_status = "start"
    </delete>

    <select id="bodyList" resultType="kr.co.namu.book.B_ExerciseVO">
        select * from user_exercise_b WHERE exer_id_b = #{exer_id_b} and exer_status_b = "start"
    </select>

    <delete id="bodyListDeleteOne">
        delete from user_exercise_b WHERE exer_no_b = #{exer_no_b} AND exer_status_b = "start"
    </delete>



</mapper>

