<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hope.mapper">

    <insert id="insert" >
        INSERT INTO hope_book ( u_m_no, hb_name, hb_author, hb_publisher, hb_publish_year )
        VALUES ( #{ u_m_no}, #{hb_name}, #{hb_author}, #{hb_publisher}, #{hb_publish_year} )
    </insert>

    <select id="listuphopebook" resultType="kr.co.namu.book.HopeBookVO">
        SELECT * FROM hope_book WHERE u_m_no = #{u_m_no}
    </select>

    <select id="hopelists" resultType="kr.co.namu.book.HopeBookVO">
        SELECT * FROM hope_book hb
        JOIN user_member um ON hb.u_m_no = um.u_m_no
        ORDER BY  hb.hb_no DESC;
    </select>

    <update id="updatehopebook">
        UPDATE hope_book SET hb_result = 1, hb_result_last_date = NOW() WHERE hb_no = #{hb_no}
    </update>

    <!--Rental-Mapper 에서 가져옴 -->


    <select id="entershelf" resultType="kr.co.namu.book.RentalBookVO">
        SELECT * FROM rental_book rb
        JOIN namu_book mb ON rb.b_no = mb.b_no
        JOIN user_member um ON rb.u_m_no = um.u_m_no
        WHERE rb.u_m_no = #{u_m_no} AND rb.rb_end_date = '1000-01-01'
    </select>

    <select id="rentalallbooks" resultType="kr.co.namu.book.RentalBookVO">
        SELECT * FROM rental_book rb
        JOIN namu_book mb ON rb.b_no = mb.b_no
        JOIN user_member um ON rb.u_m_no = um.u_m_no
        WHERE rb.rb_end_date = '1000-01-01'
        ORDER BY um.u_m_id ASC, rb.rb_reg_date DESC;
    </select>

    <update id="updaterentalbook">
        UPDATE rental_book SET rb_end_date = NOW() WHERE rb_no = #{rb_no}
    </update>

    <select id="rentalbookhistory" resultType="kr.co.namu.book.RentalBookVO">
        SELECT * FROM rental_book rb
                          JOIN namu_book mb ON rb.b_no = mb.b_no
                          JOIN user_member um ON rb.u_m_no = um.u_m_no
        WHERE rb.u_m_no = #{u_m_no}
        ORDER BY rb.rb_reg_date DESC;
    </select>


    <!--Book-Mapper 에서 가져옴 -->
    <select id="checkisbn" resultType="integer">
        SELECT COUNT(*) FROM namu_book WHERE b_isbn=#{b_isbn}
    </select>

    <insert id="insertbook" >
        INSERT INTO namu_book ( b_thumbnail, b_name, b_author, b_publisher, b_publish_year, b_isbn, b_call_number,b_rental_able)
        VALUES ( #{b_thumbnail},#{ b_name},#{b_author},#{b_publisher},#{b_publish_year},#{b_isbn},#{b_call_number},#{b_rental_able})
    </insert>

    <select id="searchbooks" resultType="kr.co.namu.book.BookVO">
        SELECT * FROM namu_book WHERE b_name LIKE CONCAT('%', #{b_name}, '%')
    </select>

    <select id="bookdetail" resultType="kr.co.namu.book.BookVO">
        SELECT * FROM namu_book WHERE b_no = #{b_no}
    </select>

    <update id="updatebook">
        UPDATE namu_book SET <include refid="thumbnail"/> b_name=#{b_name}, b_author=#{b_author},b_publisher=#{b_publisher}, b_publish_year=#{ b_publish_year},
                                b_isbn=#{b_isbn},b_call_number=#{b_call_number}, b_rental_able =#{b_rental_able}, b_mod_date =NOW() WHERE b_no = #{b_no}
    </update>

    <sql id="thumbnail">
        <if test="b_thumbnail != null " >
           b_thumbnail = #{b_thumbnail},
        </if>
    </sql>

    <delete id="deletebook">
        DELETE FROM namu_book WHERE b_no = #{b_no}
    </delete>

</mapper>

